**Greedy Search**

Implementation with Visualization of (6x10) matrix at each step. Shows how search explores and finds the goal get the path. 

**Note:** If you want just the final answer then its at the last cell

In [1]:
import pandas as pd
import numpy as np
from IPython.display import Markdown, display

# creating dictionary that stores info abour each cell of the cliff walker maze as per the question
maze_dict=dict()

start_position = (6,1)
goal_position = (6,10)
path_greedy=[] # returned path for greedy

#DeathZone in red as per question
#Shallow region in white as per question
#Deep region in green as per question
def init_cliff_walker(start_pos, goal_pos):
  for i in range(1,7):
    for j in range(1,11):
      if i==6 and (j<=9 and j>=2):
        maze_dict[(i,j)] = [" ","Deathzone","unvisited"]
      elif (i>=3 and i<=5) and ((j<=4 and j>=2) or (j<=8 and j>=6)):
        maze_dict[(i,j)] = [" ","Deep","unvisited"]
      else:
        maze_dict[(i,j)] = [" ","Shallow","unvisited"]
  maze_dict[start_pos][0] = "START"
  maze_dict[goal_pos][0] = "GOAL"

def print_cliff_walker():
  row_lst = []
  for row_num in range(1,7):
    lst=[]
    for col_num in range(1,11):
      if (row_num,col_num) == start_position or (row_num,col_num) == goal_position or ((row_num,col_num) in path_greedy):
        lst.append(str(maze_dict[(row_num,col_num)][0]))
      elif maze_dict[(row_num,col_num)][2] == "unvisited":
        lst.append(5*'_')
      elif maze_dict[(row_num,col_num)][2] == "visited":
        lst.append("\u03BF")
    row_lst.append(lst)
  
  idx_lst=[str(i) for i in range(1,7)]
  col_lst=[str(i) for i in range(1,11)]

  data_arr = np.array(row_lst)
  df = pd.DataFrame(data_arr, index=idx_lst, columns=col_lst)
  df = df.style.apply(style_specific_cell, axis=None)
  return df

def style_specific_cell(x):

    font_typ = 'font-weight: bold; text-align: center;'
    bg_color = ''
    df1 = pd.DataFrame('', index=x.index, columns=x.columns)
    for key in maze_dict.keys():
      df1.iloc[key[0]-1, key[1]-1] = font_typ
      if maze_dict[key][1] == "Deep":
        bg_color = 'background-color: lightgreen;'
      elif maze_dict[key][1] == "Deathzone":
        bg_color = 'background-color: red;'
      elif maze_dict[key][1] == "Shallow":
        bg_color = 'background-color: white;'
      df1.iloc[key[0]-1, key[1]-1] += bg_color

      if key in path_greedy:
        df1.iloc[key[0]-1, key[1]-1] += 'color: blue;'
      else:
        df1.iloc[key[0]-1, key[1]-1] += 'color: black;'
        
    return df1

# we are using Manhattan distancce as heuristic function to select cells closest to GOAL
def get_heuristic(a,b):
  return abs(a[0]-b[0])+abs(a[1]-b[1])

def get_cell_expense(cell_type):
  if cell_type == "Deep":
    return 5
  elif cell_type == "Shallow":
    return 1

# checks for valid neighbors/children to explore as per environment conditions. 
# Here valid means maze boundary condtions to be in 6x10 matrix, not encountering red deathzone and not revisiting already visited node
def get_valid_neighbors(curr_pos):
  neighbors = [(curr_pos[0],curr_pos[1]-1), (curr_pos[0]+1,curr_pos[1]), (curr_pos[0],curr_pos[1]+1), (curr_pos[0]-1,curr_pos[1])]
  valid=[]
  for i in neighbors:
    if(i[0]<7 and i[0]>0) and (i[1]>0 and i[1]<11) and maze_dict[i][2] == "unvisited" and maze_dict[i][1]!="Deathzone":
      valid.append(i)
  return valid

  
init_cliff_walker(start_position, goal_position)
print("Initiating empty maze for Greedy")
display(print_cliff_walker())

def greedy(greedy_path_cost):

  print("Greedy Path at each step => "+ str(path_greedy))
  curr = path_greedy[-1]
  maze_dict[curr][2] = "visited"
  greedy_path_cost = greedy_path_cost + get_cell_expense(maze_dict[curr][1])
  if curr == start_position or curr == goal_position:
    maze_dict[curr][0] += "=" + str(greedy_path_cost)
  else:
    maze_dict[curr][0] = str(greedy_path_cost)
  print("currently at "+str(curr)+" as tracked below:")
  display(print_cliff_walker())
  if curr == goal_position:
    return greedy_path_cost
  else:
    #collecting valid neighbors to expand the Greedy search
    children = get_valid_neighbors(curr)

    if children != []:
      selected_child = children[0]
      h_min = get_heuristic(children[0], goal_position)
      for child in children:
        h = get_heuristic(child, goal_position)
        if h < h_min:
          h_min = h
          selected_child = child
      path_greedy.append(selected_child)
  return greedy(greedy_path_cost)
  

greedy_path_cost=0 # gives path cost sum

#adding root/start node to greedy-path to start greedy search and updating greedy path selected with every step
path_greedy.append(start_position)
greedy_path_cost=greedy(greedy_path_cost)

# for i in path_greedy:
#   greedy_path_cost += get_cell_expense(maze_dict[i][1])
#   if i == start_position or i == goal_position:
#     maze_dict[i][0]+= "="+str(greedy_path_cost)
#   else:
#     maze_dict[i][0]=greedy_path_cost  

print("Greedy Path Cost = "+str(greedy_path_cost))
print()
print("Output of explored areas with output cost at each step higlighted in blue color:")
display(print_cliff_walker())

Initiating empty maze for Greedy

Greedy Path at each step => [(6, 1)]
currently at (6, 1) as tracked below:

Greedy Path at each step => [(6, 1), (5, 1)]
currently at (5, 1) as tracked below:

Greedy Path at each step => [(6, 1), (5, 1), (5, 2)]
currently at (5, 2) as tracked below:

Greedy Path at each step => [(6, 1), (5, 1), (5, 2), (5, 3)]
currently at (5, 3) as tracked below:

Greedy Path at each step => [(6, 1), (5, 1), (5, 2), (5, 3), (5, 4)]
currently at (5, 4) as tracked below:

Greedy Path at each step => [(6, 1), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5)]
currently at (5, 5) as tracked below:

Greedy Path at each step => [(6, 1), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6)]
currently at (5, 6) as tracked below:

Greedy Path at each step => [(6, 1), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7)]
currently at (5, 7) as tracked below:

Greedy Path at each step => [(6, 1), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8)]
currently at (5, 8) as tracked below:

Greedy Path at each step => [(6, 1), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9)]
currently at (5, 9) as tracked below:

Greedy Path at each step => [(6, 1), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (5, 10)]
currently at (5, 10) as tracked below:

Greedy Path at each step => [(6, 1), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (5, 10), (6, 10)]
currently at (6, 10) as tracked below:

Greedy Path Cost = 36

Output of explored areas with output cost at each step higlighted in blue color:

**Final answer of Greedy Search below**

In [2]:
print("Greedy path backtracked START to GOAL =>"+str(path_greedy))
print("Greedy Path Cost = "+str(greedy_path_cost))
print()
print("Output of explored areas with output cost at each step higlighted in blue color:")
display(print_cliff_walker())

Greedy path backtracked START to GOAL =>[(6, 1), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (5, 10), (6, 10)]
Greedy Path Cost = 36

Output of explored areas with output cost at each step higlighted in blue color: